.btn{
    text-align:center;
    height:55%;
    width:20%;
    margin-right:5px;
    display:inline-block;
    background-color:skyblue;
    line-height: 30px;
    box-shadow:0 5px rgba(0,0,0,0.4);
    border-radius: 7%;
   
}

.btn:active{
    margin-top:5px;
    box-shadow:none;
}
.display{
    float:left;
    margin:0 6.5%;
}
.displays{
    margin:0 auto;
    padding-left:30px;
    width:100%;
    height:40px;
    color:white;
    font-size:90%;
    margin-left:15%;
    padding-bottom:20px;
}

header{
    text-align: center;
    color:white;
}
header h1{
    font-size:500%;
}
header div{
    text-align:center;
}
main{
    text-align:center;
}
.btns-line{
    height:80px;
    width:100%;
    user-select: none;
}
.btns-line1 .btn{
    background-color:skyblue;
}
.btns-line2 .btn{
    background-color:greenyellow;
}
body{
    background-color:#696969;
    user-select: none;
}
.text{
    color:white;
    font-size:200%;
}