.btn{
    text-align:center;
    height:40px;
    width:70px;
    margin-right:5px;
    display:inline-block;
    background-color:skyblue;
    line-height: 30px;
    box-shadow:0 5px rgba(0,0,0,0.4);
    border-radius: 10%;
}

.btn:active{
    margin-top:5px;
    box-shadow:none;
}
.display{
    float:left;
    margin:0 30px;
}
.displays{
    margin:0 auto;
    padding-left:30px;
    width:300px;
    height:40px;
    color:white;
    
}

header{
    text-align: center;
    color:white;
}
header h1{
    padding-bottom:70px;
    font-size:50px;
}
header div{
    text-align:center;
}
main{
    text-align:center;
}
.btns-line{
    height:80px;
}
.btns-line2{
    margin-left:161px;
}
body{
    background-color:#696969;
}
.text{
    color:white;
}